
  body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #070606;
}

   
  .profile-container {
            background-color: rgb(29, 29, 29); /* Dark grey container */
            width: 346px;
            height: 544px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
            text-align: center;
            padding: 20px;
            box-sizing: border-box;
        
        }
        .profile-picture {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 5px solid #666;
            margin: 0 auto 10px;
            background-image: url('assets/images/avatar-jessica.jpeg');
            background-size: cover;
            background-position: center;
        }
        .profile-button {
            display: block;
            width: 280px; /* Adjust width of buttons */
            height: 60px
            padding: 10px;
            margin: 10px auto;
            background-color: #666; /* Light grey buttons */
            color: white;
            border: none;
            border-radius: 40px; /* Rounded corners for buttons */
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
        }
        .profile-button:hover {
            background-color: #bbb; /* Slightly darker on hover */
        }
        .profile-info {
            margin-top: 10px;
        }


@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

    .p1{
  font-weight: bold;
  color: white;
  font-size: 28px;
  font-family: 'Inter', sans-serif; /* Apply the Inter Regular font to paragraphs */
}
}
    .p2{
  font-weight: bold;
  font-size: 20px;
  color: yellow
}
}
    .p3{
 
  font-size: 18px;
  color: rgb(180, 178, 178);
}
}


         /* .body {
            font-family: Arial, sans-serif;
            background-color: #000; /* Black background 
           color: white;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        } */